.results{
	padding-left:10px;
	background:#f5f5f0;
	margin-bottom:0.2em; /* space to Copy Button */
	clear:both;
	display:none; /* fixing free space */
}

.errMsg{
	color:red;
}

.visible-div{
	display:block;
}

.hidden-div{
	display:none;
}